<!-- Page Content -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Arts"}}>Arts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Automobiles"}}>Automobiles</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Books"}}>Books</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Business"}}>Business</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Education"}}>Education</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Fashion"}}>Fashion</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Food"}}>Food</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Health"}}>Health</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Movies"}}>Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Science"}}>Science</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Sports"}}>Sports</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Travel"}}>Travel</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "U.S."}}>U.S.</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "World"}}>World</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href=""{{action "submit" "Your Money"}}>Your Money</a>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        <form class="navbar-form form-inline" role="search">
            <div class="input-group add-on">
                <Input class="form-control mr-sm-2" placeholder="Search" type="text" @id="search" @value={{model.lookup.search}}/>

                <button class="btn btn-primary" type="submit" {{action "submit" model.lookup.search}}>Search</button>
            </div>
        </form>
    </ul>
</nav>

<div class="container ">
   
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">news buddy.</h1>
        <p class="lead">Get your news custom tailored to you! News buddy allows you to pick and choose the news you 
            want to see. No more scrolling through pages of news you dont want to see.
        </p>
        <a href="#" class="btn btn-primary btn-lg">Sign up!</a>
    </header>

    <!-- Page Features -->


    <div class="row text-center">
        {{#each this.model.articles as |article|}}
        <div class="col-lg-4 col-md-8 mb-4">
            <div class="card h-100">
                <img class="card-img-top card-img-size" src="{{article.imgurl}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{article.title}}</h4>
                    <p class="card-text">{{article.abstract}}</p>
                </div>
                <div class="card-footer">
                    <a href="{{article.url}}" class="btn btn-primary">Read More</a>
                    <a href="" class="btn btn-primary">Favorite</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <!-- /.row -->


</div>

<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; newsbuddy. 2019</p>
    </div>
    <!-- /.container -->
</footer>