<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">news buddy.</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus
            non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>

        <div class="container ">
            <form class="navbar-form" role="search">
                <div class="input-group add-on">
                    <Input class="form-control" placeholder="Search" type="text" @id= "search" @value={{this.search}}/>
                    <div class="input-group-btn">
                        <button  class="btn btn-default" type="submit"  {{action 'submit' this.search}}><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <a href="#" class="btn btn-primary btn-lg">Sign up!</a>
    </header>

    <!-- Page Features -->
 
    
    <div class="row text-center">
        {{#each model as |article|}}
        <div class="col-lg-4 col-md-8 mb-4">
            <div class="card h-100">
                <img class="card-img-top card-img-size" src="{{article.imgurl}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{article.title}}</h4>
                    <p class="card-text">{{article.abstract}}</p>
                </div>
                <div class="card-footer">
                    <a href="{{article.url}}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
  {{/each}}
    </div>
  
    <!-- /.row -->
  

</div>

<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; newsbuddy. 2019</p>
    </div>
    <!-- /.container -->
</footer>
